.footer {
  margin: 92px 48px 24px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 768px-1023px*/
@media screen and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px 24px;
  }
}

/* 320px-767px*/
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin: 64px 118px 24px 16px;
  }
}