.header__lang-links {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  gap: 18px;
  list-style-type: none;
  margin-bottom: 6px;
}

/* 320px-767px*/
@media screen and (max-width: 767px) {
  .header__lang-links {
    margin-bottom: 8px;
  }
}